.output {
  padding-top: 60px;
  padding: 20px;
  color: white;
  background: content-box radial-gradient(rgb(43, 40, 59), rgb(3, 40, 53));
}

.output_lines {
  font-size: 22px;
  color: white;
  line-height: 150%;
  font-variant: common-ligatures tabular-nums;
  /* font: italic small-caps bold 16px/2 cursive; */
  font: caption;
  text-align: center;
}

.output__lines > ul > li {
  list-style-type: none;
}

.audio {
  display: none;
  margin: auto;
  margin-bottom: 1rem;
}

.output__output {
  padding: 80px;
  /* opacity: 0.7;
  flex: 1; */
}

@media screen and (max-width: 768px) {
  .output {
    min-height: 100%;
    width: 100%;
    overflow: scroll;
  }

  .output__output {
    padding: 30px;
  }
}